body,ul,li,h1,h2{
	margin:0;
	padding: 0;
	list-style: none;
}
a{text-decoration: none;
color:#666;}
img{border:0;}
.nav-box{
	height: 44px;
	/*、ban-style: 40px;*/
    background: rgba(0,0,0,0.8);
}
.nav-out{
	height: 100%;
	z-index: 88;
}
.nav-out .max-nav{
	max-width: 1024px;
	height:100%;
	margin:0 auto;
	text-align: justify;
	/*文本分散对齐*/
}
.nav-out .max-nav:after{
	content: "";
	display: inline-block;
	height: 0;
	width: 100%;
	line-height: 0;
}

.nav-out .max-nav li{
	display: inline-block;
    height: 100%;
	color: #fff;
	text-align: center;
	line-height: 44px;
	transition:all 1s;
}
.nav-out .max-nav li a{
	display: inline-block;
	height: 100%;
	color: #fff;
	transition:all 1s;
}
.nav-out .max-nav li a:hover{
	opacity: .7;
}

.min-nav .nav{
	height:100%;
	text-align: justify;
	
}
.min-nav .nav:after{
	content: "";
	display: inline-block;
	height: 0;
	width: 100%;
	line-height: 0;
}
.min-nav .nav>div{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	color:#fff;
}
.min-nav .nav .menu{
	width: 44px;
	height:100%;
}
.min-nav .nav .menu span{
	display: block;
	width:60%;
	border-top: 1px solid #fff;
	margin: 14px auto;
    transition:all .3s;
    overflow: hidden;
} 
.min-nav .ban{
	background: #000;
	margin-left: -15px;
	padding-top:20px;
	margin-right: -15px;
	margin-top: -20px;
	transition:height .5s;
	overflow: hidden;
	display: none;
}
.min-nav .ban li{
   margin:0 44px;
   border-bottom:1px solid #ccc;
   line-height:48px;
   height:48px;
   width: 100%;
}
.min-nav .ban li a{
	color:#fff;
}
.min-nav .nav .menu#active span:nth-child(1){
    transform: translateY(7px) rotate(135deg);
}
.min-nav .nav .menu#active span{
	transform: translateY(-7px) rotate(45deg);
}
@media screen and (min-width:768px){
	.max-nav{
		display: block;
	}
	.min-nav{
		display: none;
	}
}
@media screen and (max-width:768px){
	.max-nav{
		display: none;
	}
	.min-nav{
         display: block;
	}
}

/*轮播部分*/

.banner{
   width:100%;
   height: 600px;
    position: relative;
}
.box{
    position: relative;
    height: 100%;
}
.list{
	position: absolute;
	width: 100%;
	height:600px;
}
.ban-out{
    margin-left:-15px;
    margin-right: -15px;
    position: relative;
    height:100%;
    top:0;
    left: 0;
}
.ban{
    height: 100%;
    display: block;
    color: #000;
    float: left;
    width: 100%;
    position:absolute;
    background: #fff;
    overflow: hidden;
}
.ban img{
	position: absolute;
	left: 50%;
	transform:translate(-50%,0);
}
.ban:nth-child(1) img{
	top:-60px;
}
.ban:nth-child(2) img{
   bottom:-100px;
   width:880px;
}
.ban:nth-child(3) img{
   bottom:100px;
   width:600px;
}
.ban:nth-child(4) img{
   margin-top: -200px;
   width:100%;
}
.text{
    text-align: center;
    position: absolute;
	left: 50%;
	transform:translate(-50%,0);
}
.ban:nth-child(1) .text{
	bottom: 40px;
}
.ban:nth-child(2) .text{
    top: 50px;
}
.ban:nth-child(3) .text{
	top: 20px;
}
.ban:nth-child(4) .text{
	top: 300px;
    left: 40%;
    color:#fff;
}
.box .row{
	height: 100%;
	overflow: hidden;
}
.box .row>div{
	position: relative;
	overflow: hidden;
	height:200px;
	border:1px solid #fff;
}
.box .row>div img{
    position: absolute;
    top:0;
    left: 50%;
    transform:translateX(-50%);
}
@media screen (min-width: 768px){
    .banner{
        width: 600px;
    }
}
.text h1{
    font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 52px;
}
.text h2{
    font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
    font-weight: normal;
    font-size:30px;
}
.text span{
    font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 12px;
}
.banner ul{
    width: 100px;
    height: 15px;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -50px;
    z-index: 22;
}
.banner li{
    margin: 0  5px;
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    background: #888;
}

@media screen (min-width: 768px){
    .box .row>div img{
        width:auto;
    }
}
@media screen (max-width: 768px){
    .box .row>div img{
        width:100%;
    }
}
/*小图片*/

/*底部*/
.foot{
	background: #f2f2f2;
}
.inner-foot{
    font-size: 12px;
}
@media screen (max-width: 768px){
    .inner-foot li{
        height:40px;
    }
}






.globalfooter{
    font-family: "aa";
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 400;
    background-color: #f2f2f2;
    color: #666;
    width: 100%;
}
.globalfooter .content input{
    display:none;
}
.globalfooter .gf-content{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 22px;
}
.globalfooter .gf-content .gf-directory{
    padding-top: 20px;
}
.gf-directory:after {
    content: "";
    display: block;
    clear: both;
}
.gf-directory-cloumn{
    width: 20%;
    float: left;
}
.gf-directory-cloumn .content{
    width: 100%;
}
.gf-directory-cloumn .cententbottom{
    padding-top: 20px;
}
.gf-directory-cloumn label h3{
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 600;
    letter-spacing: normal;
    color: #333;
    margin: 0;
}
.gf-directory-cloumn a{
    color: #666;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}
.gf-directory-cloumn a:hover{
    color: #555;
    text-decoration: underline;
}
.gf-footer{
    color: #999;
    padding: 20px 0 24px;
}
.gf-footer-shop{
    margin-bottom: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
}
.gf-footer-shop a{
    color: #08c;
}
.gf-footer-shop a:hover{
    color: #333;
    text-decoration: underline;
}
.gf-footer-locale{
    float: right;
    
}
.gf-footer-locale-link{
    display: inline;
    color: #666
}
.gf-footer-locale-flag{
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/16.png");
    cursor: pointer;
    float: left;
    margin-top: 1px;
    padding-right: 5px;
}
.gf-footer-legal:before,.gf-footer-legal:after{
    content: ' ';
    display: table;
}
.gf-footer-legal:after{
    content: "";
    display: block;
    clear: both;
}
.gf-footer-legal-copy{
    margin-right: 26px;
    float: left;
}
.gf-footer-legal-links{
    margin-right: 26px;
    float: left;
}
.gf-footer-legal-link{
    color: #666;
    border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;

}
   
@media(max-width: 740px){
    .gf-directory-cloumn{
        width: 100%;
    }
    .gf-directory-cloumn .content{
        border-bottom: 1px solid #e3e3e3;
    }
    .gf-directory-cloumn ul{
        visibility: hidden;
        position: absolute;
    }
    .globalfooter .gf-directory-cloumn input:checked~ul{
        visibility:visible;
        position: relative;
        padding: 0 14px;
    }
    .globalfooter .gf-directory-cloumn input:checked~ul li{
        height:33px;
        line-height:33px;
    }
    .gf-directory-cloumn label h3{
        padding-right: 5px;
        font-size: 14px;
        line-height: 2.8;
        font-weight: 400;
        letter-spacing: normal;   
    }
    .gf-directory-cloumn label h3:after{
        content:"+";
        display: block;
        float: right;

    }
    .globalfooter .gf-directory-cloumn input:checked+label h3:after{
        transition:all 0.2s ease;
        transform:rotate(45deg) scale(1.08);
    }
    .gf-directory-cloumn .cententbottom{
        padding-top: 0;
    }
    .gf-footer-shop{
        border-bottom:0px;
    }
    .gf-footer-locale{
        float: none;
        position: relative;
        left: -1px;
    }
    .gf-footer-legal-copy{
        margin-right: 0;
        float: none;
    }
}
